@font-face {font-family: "B Koodak";
   src: url("//db.onlinewebfonts.com/t/2be5d53bd9404008e505c403b2af6d9c.eot");
    src: url("//db.onlinewebfonts.com/t/2be5d53bd9404008e505c403b2af6d9c.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/2be5d53bd9404008e505c403b2af6d9c.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/2be5d53bd9404008e505c403b2af6d9c.woff") format("woff"), url("//db.onlinewebfonts.com/t/2be5d53bd9404008e505c403b2af6d9c.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/2be5d53bd9404008e505c403b2af6d9c.svg#B Koodak") format("svg"); }
.container{
  font-family: B Koodak;
  display: flex;
  flex-direction: column;
  width: 30vw;
  float: right;
  position: relative;
  height: 98vh;
}
.header{
  flex-grow: 1;
  color: #9d1f62;
  font-size: medium;
  align-items: center;
  text-align: center;
  border-bottom: 2px solid rgb(128, 128, 128);
  border-width: 80%;
}
.main{
  padding: 10px;
  color: #9d1f62;
  font-size: medium;
  text-align: right;
  border-bottom: 1px solid rgb(128, 128, 128);
}
.logout{
  flex-grow: 8;
  padding: 10px;
  color: #9d1f62;
  font-size: medium;
  text-align: right;
}
.footer{
  color: #9d1f62;
  font-size: medium;
  position: absolute;
  bottom: 10px;
  flex-grow: 1;
  border-top: 1px solid rgb(128, 128, 128);
  text-align: center;
  width: 30vw;
}
.menuButton{
  display: flex;
  flex-direction: column;
  text-align: right;
  color: #9d1f62;
  font-size: large;
  margin: 10px;
}